<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>
    <div id="myApp">
        <h1>Dos formas de v-for</h1>
        <h2>Batman quotes</h2>
        <ul>
            <li v-for="(item, index) in quotes">
                {{ index + 1 }}. {{ item.quote }}
                <blockquote>- {{ item.author }}</blockquote>
            </li>
        </ul>
        <h2>Batman quotes</h2>
        <ul>
            <li v-for="({ quote, author }, index) in quotes">
                {{ index + 1 }}. {{ quote }}
                <blockquote>- {{ author }}</blockquote>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>