<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model keypress event v-if v-show</title>
</head>
<body>
    <div id="myApp">
        <h1>v-model, keypress event, v-if y v-show</h1>
        <input
          type="text"
          v-model="newQuote"
          v-on:keypress.enter="addQuote()">
        <span>{{ newQuote }}</span>
        <hr>
        <h2>Batman quotes</h2>
        <ul>
            <li v-for="({ quote, author }, index) in quotes">
                {{ index + 1 }}. {{ quote }}
                <!--<blockquote v-if="author">- {{ author }}</blockquote>-->
                <blockquote v-show="author">- {{ author }}</blockquote>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>